<div class="modal fade" style="top: 30%" id="loginModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" style="text-align: center">Shuttle Login</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="loginForm" action="login_check"  method="POST" novalidate>
                    <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12 left-inner-addon">
                        <br><i class="material-icons">email</i> 
                        <p><input type="email" name="userEmail" ng-model="userEmail" class="form-control element-space" id="inputEmail" placeholder="Email" required>
                            <span style="color:red" ng-show="loginForm.userEmail.$dirty && loginForm.userEmail.$invalid">
                                <span ng-show="loginForm.userEmail.$error.required">Email is required.</span>
                                <span ng-show="loginForm.userEmail.$error.email">Invalid email address.</span>
                            </span></p>
                    </div>
                    <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12 left-inner-addon">
                        <br><i class="material-icons">lock_outline</i>
                        <input type="password"  name="userPassword" ng-model="userPassword" class="form-control element-space" id="inputPassword" placeholder="Password" required>
                        <p style="color:red" ng-show="loginForm.userPassword.$invalid && !loginForm.userPassword.$pristine">Password is required.</p>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <center><br>
                                <input type="submit" class="btn-lg btn-primary" value="Login" ng-disabled="loginForm.$invalid" ></center>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
