<div style="width:100%" ng-init="getOwnerList()"> 
    <button ng-click="hideDialog({},false)" class="btn-xs btn-primary" style="margin-bottom: 30px"><i class="material-icons btn-icon">add_circle_outline</i>Owner</button>
    <formmodal title="titleName" visible="ownerHidden">
        <form role="form" class="form-horizontal" id="ownerForm" name="ownerForm" ng-submit="insertOwner()">
            <div class="form-group">
                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 left-inner-addon">
                    <br>
                    <i class="material-icons">account_circle</i>
                    <input type="text" class="form-control element-space" placeholder="Name" ng-model="owner.userName" name="ownerName" required>
                    <span style="color:red" ng-show="ownerForm.userName.$invalid && !ownerForm.userName.$pristine">Name is required.</span>
                </div>

                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 left-inner-addon">
                    <br>
                    <i class="material-icons">email</i>
                    <input type="email" class="form-control element-space" placeholder="Email" ng-model="owner.userEmail" name="ownerEmail"  required>
                    <span style="color:red" ng-show="ownerForm.userEmail.$dirty && ownerForm.userEmail.$invalid">
                        <span ng-show="ownerForm.userEmail.$error.required">Email is required.</span>
                        <span ng-show="ownerForm.userEmail.$error.email">Invalid email address.</span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 left-inner-addon">
                    <br>
                    <i class="material-icons">person_pin_circle</i>
                    <textarea class="form-control element-space" placeholder="Address"  ng-model="owner.userAddress" required name="ownerAddress"></textarea>
                    <span style="color:red" ng-show="ownerForm.userAddress.$invalid && !ownerForm.userAddress.$pristine">Address is required.</span>
                </div>

                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 left-inner-addon">
                    <br>
                    <i class="material-icons">person_pin_circle</i>
                    <input type="text" class="form-control element-space" placeholder="City" ng-model="owner.userCity" required name="ownerCity">
                    <span style="color:red" ng-show="ownerForm.userCity.$invalid && !ownerForm.userCity.$pristine">City is required.</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 left-inner-addon">
                    <br>
                    <i class="material-icons">map</i>
                    <input type="text" class="form-control element-space" placeholder="Country" ng-model="owner.userCountry" required name="ownerCountry">
                    <span style="color:red" ng-show="ownerForm.userCountry.$invalid && !ownerForm.userCountry.$pristine">Country is required.</span>
                </div>

                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 left-inner-addon"><br>
                    <i class="material-icons">place</i>
                    <input type="text" class="form-control element-space" placeholder="State" ng-model="owner.userState">
                </div>
               
                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 left-inner-addon" style="display:none">
                    <i class="material-icons">place</i>
                    <input type="text" class="form-control element-space" placeholder="State" ng-init="owner.ownerRole='ROLE_OWNER'">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 left-inner-addon"></br>
                    <i class="material-icons">local_phone</i>
                    <input type="text" class="form-control element-space" placeholder="Contact" ng-model="owner.userContact" required ng-pattern="/^\+?\d{2}[- ]?\d{3}[- ]?\d{5}$/" name="ownerPhone">
                    <span style="color:red" ng-show="ownerForm.userContact.$dirty && ownerForm.userContact.$invalid">
                        <span ng-show="ownerForm.userContact.$error.required">Mobile Number is required.</span>
                        <span ng-show="ownerForm.userContact.$error.pattern">Please enter a valid mobile number</span>
                    </span>
                </div>

                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 col-lg-offset-3 left-inner-addon"><br>
                    <input type="submit" ng-disabled="ownerForm.$invalid" class="btn btn-primary form-control" value="Submit">
                </div>
            </div>
        </form> </formmodal>

    <div style="overflow-x:auto;" class="table-responsive">
                                  
        <table class="table table-condensed table-bordered table-hover">
            <thead style="background-color: #2196F3;color: white">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Country</th>
                    <th></th>

                </tr>
            </thead>
            <tbody ng-repeat="person in myWelcome">
                <tr ng-if="person.userName.length > 0 && person.userState.length > 0" ng-class="{even: $even, odd: $odd}">
                    <td>{{person.userName}}</td>
                    <td>{{person.userEmail}}</td>
                    <td>{{person.userPhone}}</td>
                    <td>{{person.userAddress}}</td>
                    <td>{{person.userCity}}</td>
                    <td>{{person.userState}}</td>
                    <td>{{person.userCountry}}</td>
                    <td ng-click="hideDialog(person,true)" style="cursor: pointer;color: #2196F3;text-align: center"><i class="material-icons btn-icon">edit</i></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
