<div style="width:100%" ng-init="getOwnerList()"> 
    <button ng-click="hideDialog(null,false)" class="btn-xs btn-primary"><i class="material-icons btn-icon">add_circle_outline</i>Owner</button>
    <formmodal title="ctitle" visible="ownerHidden">
        <form role="form" class="form-horizontal" id="ownerForm" name="ownerForm" ng-submit="insertOwner()">
            <div class="form-group">
                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 left-inner-addon">
                    <br>
                    <i class="material-icons">account_circle</i>
                    <input type="text" class="form-control element-space" placeholder="Name" ng-model="owner.ownerName" name="ownerName" required>
                    <span style="color:red" ng-show="ownerForm.ownerName.$invalid && !ownerForm.ownerName.$pristine">Name is required.</span>
                </div>

                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 left-inner-addon">
                    <br>
                    <i class="material-icons">email</i>
                    <input type="email" class="form-control element-space" placeholder="Email" ng-model="owner.ownerEmail" name="ownerEmail"  required>
                    <span style="color:red" ng-show="ownerForm.ownerEmail.$dirty && ownerForm.ownerEmail.$invalid">
                        <span ng-show="ownerForm.ownerEmail.$error.required">Email is required.</span>
                        <span ng-show="ownerForm.ownerEmail.$error.email">Invalid email address.</span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 left-inner-addon">
                    <br>
                    <i class="material-icons">person_pin_circle</i>
                    <textarea class="form-control element-space" placeholder="Address"  ng-model="owner.ownerAddress" required name="ownerAddress"></textarea>
                    <span style="color:red" ng-show="ownerForm.ownerAddress.$invalid && !ownerForm.ownerAddress.$pristine">Address is required.</span>
                </div>

                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 left-inner-addon">
                    <br>
                    <i class="material-icons">person_pin_circle</i>
                    <input type="text" class="form-control element-space" placeholder="City" ng-model="owner.ownerCity" required name="ownerCity">
                    <span style="color:red" ng-show="ownerForm.ownerCity.$invalid && !ownerForm.ownerCity.$pristine">City is required.</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 left-inner-addon">
                    <br>
                    <i class="material-icons">map</i>
                    <input type="text" class="form-control element-space" placeholder="Country" ng-model="owner.ownerCountry" required name="ownerCountry">
                    <span style="color:red" ng-show="ownerForm.ownerCountry.$invalid && !ownerForm.ownerCountry.$pristine">Country is required.</span>
                </div>

                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 left-inner-addon"><br>
                    <i class="material-icons">place</i>
                    <input type="text" class="form-control element-space" placeholder="State" ng-model="owner.ownerState">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 left-inner-addon"></br>
                    <i class="material-icons">local_phone</i>
                    <input type="text" class="form-control element-space" placeholder="Phone" ng-model="owner.ownerPhone" required ng-pattern="/^\+?\d{2}[- ]?\d{3}[- ]?\d{5}$/" name="ownerPhone">
                    <span style="color:red" ng-show="ownerForm.ownerPhone.$dirty && ownerForm.ownerPhone.$invalid">
                        <span ng-show="ownerForm.ownerPhone.$error.required">Mobile Number is required.</span>
                        <span ng-show="ownerForm.ownerPhone.$error.pattern">Please enter a valid mobile number</span>
                    </span>
                </div>

                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 col-lg-offset-3 left-inner-addon"><br>
                    <input type="submit" ng-disabled="ownerForm.$invalid" class="btn btn-primary form-control" value="Submit">
                </div>
            </div>
        </form> </formmodal>

    <div style="overflow-x:auto; overflow-y: auto;height:800px">
        <table class="table table-condensed table-striped table-responsive">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Country</th>

                </tr>
            </thead>
            <tbody ng-repeat="person in myWelcome">
                <tr ng-if="person.ownerName.length > 0 && person.ownerState.length > 0">
                    <td>{{person.ownerName}}</td>
                    <td>{{person.ownerEmail}}</td>
                    <td>{{person.ownerPhone}}</td>
                    <td>{{person.ownerAddress}}</td>
                    <td>{{person.ownerCity}}</td>
                    <td>{{person.ownerState}}</td>
                    <td>{{person.ownerCountry}}</td>
                    <td ng-click="hideDialog(person,true)" style="cursor: pointer;color: #2196F3"><i class="material-icons btn-icon">edit</i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>