<div style="width:100%" ng-init="getOwnerList()"> 
    <button ng-click="hideDialog()" class="btn-xs btn-primary"><i class="material-icons btn-icon">add_circle_outline</i>Owner</button>
    <formmodal title="Add Owner" visible="ownerHidden">
        <form role="form" class="form-horizontal" id="ownerForm" ng-submit="insertOwner()">
            <div class="form-group">
                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 left-inner-addon">
                    <br>
                    <i class="material-icons">account_circle</i>
                    <input type="text" class="form-control element-space" placeholder="Name" ng-model="owner.ownerName">
                </div>
            
                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 left-inner-addon">
                    <br>
                    <i class="material-icons">email</i>
                    <input type="email" class="form-control element-space" placeholder="Email" ng-model="owner.ownerEmail">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 left-inner-addon">
                    <br>
                    <i class="material-icons">person_pin_circle</i>
                    <textarea class="form-control element-space" placeholder="Address"  ng-model="owner.ownerAddress"></textarea>
                </div>
         
                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 left-inner-addon">
                    <br>
                    <i class="material-icons">person_pin_circle</i>
                    <input type="text" class="form-control element-space" placeholder="City" ng-model="owner.ownerCity">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 left-inner-addon">
                    <br>
                    <i class="material-icons">map</i>
                    <input type="text" class="form-control element-space" placeholder="Country" ng-model="owner.ownerCountry">
                </div>
            
                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 left-inner-addon"><br>
                    <i class="material-icons">place</i>
                    <input type="text" class="form-control element-space" placeholder="State" ng-model="owner.ownerState">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 left-inner-addon"></br>
                    <i class="material-icons">local_phone</i>
                    <input type="text" class="form-control element-space" placeholder="Phone" ng-model="owner.ownerPhone">
                </div>
            
                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 col-lg-offset-3 left-inner-addon"><br>
                    <button type="submit" class="btn btn-primary form-control">Submit</button>
                </div>
            </div>
        </form> </formmodal>
    <div>          
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Country</th>
                    
                </tr>
            </thead>
            <tbody ng-repeat="person in myWelcome">
                <tr ng-if="person.ownerName.length>0 && person.ownerState.length>0 ">
                    <td>{{person.ownerName}}</td>
                    <td>{{person.ownerEmail}}</td>
                    <td>{{person.ownerPhone}}</td>
                    <td>{{person.ownerAddress}}</td>
                    <td>{{person.ownerCity}}</td>
                    <td>{{person.ownerState}}</td>
                    <td>{{person.ownerCountry}}</td>
                    <td ng-click="hideDialog()" style="cursor: pointer;color: #2196F3"><i class="material-icons btn-icon">edit</i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>