<div style="width:100%" ng-init="getRouteList()"> 
    <button ng-click="hideDialog({}, false);" class="btn-xs btn-primary" style="margin-bottom: 30px"><i class="material-icons btn-icon">add_circle_outline</i>Route</button>
    <formmodal title="titleName" visible="routeHidden">
        <form role="form" class="form-horizontal" id="routeForm" name="routeForm" ng-submit="insertRoute()">
            <div class="form-group">
                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 left-inner-addon">
                    <br>
                    <i class="material-icons">format_list_numbered</i>
                    <input type="text" class="form-control element-space" placeholder="Registration Number" ng-model="route.routeCity" name="routeCity" required>
                    <span style="color:red" ng-show="routeForm.routeCity.$invalid && !routeForm.routeCity.$pristine">City is required.</span>
                </div>

                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 left-inner-addon">
                    <br>
                    <i class="material-icons">directions_car</i>
                    <input class="form-control element-space" placeholder="Route Name"  ng-model="route.routeState" required name="routeState">
                    <span style="color:red" ng-show="routeForm.routeState.$invalid && !routeForm.routeState.$pristine">State is required.</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 left-inner-addon">
                    <br>
                    <i class="material-icons">directions_bus</i>
                    <input type="text" class="form-control element-space" placeholder="Route Type" ng-model="route.routeCountry" required name="routeCountry">
                    <span style="color:red" ng-show="routeForm.routeCountry.$invalid && !routeForm.routeCountry.$pristine">Country is required</span>
                </div>

                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 left-inner-addon">

                    <br>
                    <i class="material-icons">date_range</i>
                    <input type='text' class="form-control element-space" placeholder="Permit End Time" ng-model="route.routeZone" required name="routeZone"/>
                    <span style="color:red" ng-show="routeForm.routeZone.$invalid && !routeForm.routeZone.$pristine">Zone is required.</span>

                </div>
            </div>
            <div class="form-group">

                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 left-inner-addon"><br>
                    <i class="material-icons">account_circle</i>
                    <input type='text' class="form-control element-space" placeholder="Permit End Time" ng-model="route.routeStartLocation" required name="routeZone"/>
                    <span style="color:red" ng-show="routeForm.routeStartLocation.$invalid && !routeForm.routeStartLocation.$pristine">Start Location is required.</span>
                </div>
                 <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 left-inner-addon"><br>
                    <i class="material-icons">account_circle</i>
                    <input type='text' class="form-control element-space" placeholder="Permit End Time" ng-model="route.routeEndLocation" required name="routeZone"/>
                    <span style="color:red" ng-show="routeForm.routeEndLocation.$invalid && !routeForm.routeEndLocation.$pristine">Start Location is required.</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 col-lg-offset-3 left-inner-addon"><br>
                    <input type="submit" ng-disabled="routeForm.$invalid" class="btn btn-primary form-control" value="Submit">
                </div>
            </div>
        </form> </formmodal>

    <div style="overflow-x:auto;" class="table-responsive">

        <table class="table table-condensed table-bordered table-hover">
            <thead style="background-color: #2196F3;color: white">
                <tr>
                    <th>City</th>
                    <th>State</th>
                    <th>Country</th>
                    <th>Zone</th>
                    <th>Start Location</th>
                    <th>End Location</th>
                    <th>Map</th>
                    <th>Total Distance</th>
                </tr>
            </thead>
            <tbody ng-repeat="shuttleRoute in routes">
                <tr ng-if="shuttleRoute.routeName.length > 0 && shuttleRoute.routeState.length > 0" ng-class="{even: $even, odd: $odd}">
                    <td>{{shuttleRoute.vehiceRegNo}}</td>
                    <td>{{shuttleRoute.routeName}}</td>
                    <td>{{shuttleRoute.vehiceType}}</td>
                    <td>{{shuttleRoute.routePermitEndTime}}</td>
                    <td ng-click="hideDialog(shuttleRoute, true)" style="cursor: pointer;color: #2196F3;text-align: center"><i class="material-icons btn-icon">edit</i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>