<div class="container-fluid" style="padding-top: 20px;padding-bottom: 20px">
    <div class="row" style="background-color: #2196f3;">
        <div class="col-lg-7 col-md-7 col-sm-7 hidden-xs">
            <img style="margin: 15% auto;display: table;" src="resources/images/car.png" alt="Shuttle">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4" style="margin-top: 30px;" id="registerDiv">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <form name="registerForm" class="form-horizontal" action="service/registration"  method="POST" novalidate>
                        <fieldset>
                            <center><h4>Register for Shuttle</h4></center>
                            <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12 left-inner-addon">
                                <br><i class="material-icons">account_circle</i>
                                    <input type="text" ng-model="userName" class="form-control element-space" id="inputName" placeholder="Name" name="userName" required>
                                    <p style="color:red" ng-show="registerForm.userName.$invalid && !registerForm.userName.$pristine">Name is required.</p>
                            </div>
                            <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12 left-inner-addon">
                                <br><i class="material-icons">email</i>
                                    <p>  <input type="email"  ng-model="userEmail" class="form-control element-space" id="inputEmail" placeholder="Email" name="userEmail" required>
                                        <span style="color:red" ng-show="registerForm.userEmail.$dirty && registerForm.userEmail.$invalid">
                                            <span ng-show="registerForm.userEmail.$error.required">Email is required.</span>
                                            <span ng-show="registerForm.userEmail.$error.email">Invalid email address.</span>
                                        </span></p>
                            </div>
                            <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12 left-inner-addon">
                                <br><i class="material-icons">contact_phone</i>
                                <input ng-pattern="/^\+?\d{2}[- ]?\d{3}[- ]?\d{5}$/" ng-model="userContact" type="text" class="form-control element-space" id="inputNumber" placeholder="Mobile Number" name="userContact" required>
                                <span style="color:red" ng-show="registerForm.userContact.$dirty && registerForm.userContact.$invalid">
                                    <span ng-show="registerForm.userContact.$error.required">Mobile Number is required.</span>
                                    <span ng-show="registerForm.userContact.$error.pattern">Please enter a valid mobile number</span>
                                </span>
                            </div>
                            <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12 left-inner-addon">
                                <br><i class="material-icons">lock_outline</i>
                                <input type="password" class="form-control element-space" ng-model="userPassword" id="inputPassword" placeholder="Password" name="userPassword" required>
                                <p style="color:red" ng-show="registerForm.userPassword.$invalid && !registerForm.userPassword.$pristine">Password is required.</p>
                            </div>
                            <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12 left-inner-addon">
                                <br><i class="material-icons">lock</i>
                                <input type="password" ng-model="confirmPassword" name="confirmPassword" class="form-control element-space" id="confirmPassword" placeholder="Confirm Password" required>
                                <span style="color: red" ng-show="(userPassword !== confirmPassword) && registerForm.confirmPassword.$dirty">Password mismatch</span>
                            </div>
                            <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12 left-inner-addon">
                                <br><i class="material-icons">perm_identity</i>
                                <div class="radio col-lg-4 col-lg-offset-2 col-md-2 col-sm-offset-2 col-xs-offset-2">
                                        <label>
                                            <input type="radio" name="userGender"  value="MALE" checked="">
                                            Male
                                        </label>
                                    </div>
                                    <div class="radio col-lg-4 col-lg-offset-2 col-md-2 col-sm-offset-2 col-xs-offset-2">
                                        <label>
                                            <input type="radio" name="userGender"  value="FEMALE">
                                            Female
                                        </label>
                                    </div>
                                </div>
                            <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12 left-inner-addon">
                                <br><center><input type="submit" class="btn-lg btn-primary" ng-disabled="registerForm.$invalid" value="REGISTER ME"></center>
                            </div>
                        </fieldset>
                    </form>
                    <center>Already Registered?<a id="loginLink" ng-click="login()"> Login</a></center>
                    <center><a ng-click="forgot()" id="forgotPasswordLink">Forgot Password?</a></center>
                </div>
            </div>
        </div> 
    </div>
</div>